body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  width:150px;
  background-color: #2072EF;
  border: none;
  border-radius: 5px;
  color: white;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display:flex;
}
.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 5px;
  width:75%;
}
.upper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main{
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.inside-main{
  display:flex;
  flex-direction:row;
  align-items: center;
}
.color{
  width:70px;
  height:25px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  background-color: yellow;
}
.close-modal{
  width:100px;
  height:40px;
  border: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  background-color: white;
}
.save{
  width:100px;
  height:40px;
  border: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  background-color: #2072EF;
  margin-left: 30px;
  color: white;
}
.content{
  margin-top: 10px;
  display:flex;
  flex-direction:column;
}
.buttons{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 40px;
}
.upper a{
  text-decoration: none;
  color: #2072EF;
}
